{% extends "base.html" %}

{% block title %}
Buy 
{% endblock title %}

{% block body %}
{% comment %}Card contents added in table format{% endcomment %}
<div class="card my-4">
    <table>
      {% comment %}row1{% endcomment %}
      <tr>
        <td>
          <div class="card" style="width: 18rem;">
            <img src="/static/img/card1.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                <strong>Butterscotch</strong>
                <br />

                Indulge in the exclusive taste of butterscotch, where each delightful bite unveils a symphony of rich flavors and a perfect balance of sweetness.
              </p>
            </div>
          </div>
        </td>
        <td>
          <div class="card" style="width: 18rem;">
            <img src="/static/img/card2.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                <strong>Butterscotch</strong>
                <br />

                Indulge in the exclusive taste of choco chips, where each delightful bite unveils a symphony of rich flavors and a perfect balance of sweetness.
              </p>
            </div>
          </div>
        </td>
        <td>
          <div class="card" style="width: 18rem;">
            <img style="height: 300px;" src="/static/img/card3.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                <strong>Butterscotch</strong>
                <br />

                Indulge in the exclusive taste of Anjeer, where each delightful bite unveils a symphony of rich flavors and a perfect balance of sweetness.
              </p>
            </div>
          </div>
        </td>
      </tr>
      {% comment %}row2{% endcomment %}
      <tr>
        <td>
          <div class="card" style="width: 18rem;">
            <img src="/static/img/card1.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                <strong>Butterscotch</strong>
                <br />

                Indulge in the exclusive taste of butterscotch, where each delightful bite unveils a symphony of rich flavors and a perfect balance of sweetness.
              </p>
            </div>
          </div>
        </td>
        <td>
          <div class="card" style="width: 18rem;">
            <img src="/static/img/card2.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                <strong>Butterscotch</strong>
                <br />

                Indulge in the exclusive taste of choco chips, where each delightful bite unveils a symphony of rich flavors and a perfect balance of sweetness.
              </p>
            </div>
          </div>
        </td>
        <td>
          <div class="card" style="width: 18rem;">
            <img style="height: 300px;" src="/static/img/card3.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                <strong>Butterscotch</strong>
                <br />

                Indulge in the exclusive taste of Anjeer, where each delightful bite unveils a symphony of rich flavors and a perfect balance of sweetness.
              </p>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="card" style="width: 18rem;">
            <img src="/static/img/card1.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                <strong>Butterscotch</strong>
                <br />

                Indulge in the exclusive taste of butterscotch, where each delightful bite unveils a symphony of rich flavors and a perfect balance of sweetness.
              </p>
            </div>
          </div>
        </td>
        <td>
          <div class="card" style="width: 18rem;">
            <img src="/static/img/card2.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                <strong>Butterscotch</strong>
                <br />

                Indulge in the exclusive taste of choco chips, where each delightful bite unveils a symphony of rich flavors and a perfect balance of sweetness.
              </p>
            </div>
          </div>
        </td>
        <td>
          <div class="card" style="width: 18rem;">
            <img style="height: 300px;" src="/static/img/card3.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                <strong>Butterscotch</strong>
                <br />

                Indulge in the exclusive taste of Anjeer, where each delightful bite unveils a symphony of rich flavors and a perfect balance of sweetness.
              </p>
            </div>
          </div>
        </td>
      </tr>
      {% comment %}row2{% endcomment %}
      <tr>
        <td>
          <div class="card" style="width: 18rem;">
            <img src="/static/img/card1.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                <strong>Butterscotch</strong>
                <br />

                Indulge in the exclusive taste of butterscotch, where each delightful bite unveils a symphony of rich flavors and a perfect balance of sweetness.
              </p>
            </div>
          </div>
        </td>
        <td>
          <div class="card" style="width: 18rem;">
            <img src="/static/img/card2.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                <strong>Butterscotch</strong>
                <br />

                Indulge in the exclusive taste of choco chips, where each delightful bite unveils a symphony of rich flavors and a perfect balance of sweetness.
              </p>
            </div>
          </div>
        </td>
        <td>
          <div class="card" style="width: 18rem;">
            <img style="height: 300px;" src="/static/img/card3.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                <strong>Butterscotch</strong>
                <br />

                Indulge in the exclusive taste of Anjeer, where each delightful bite unveils a symphony of rich flavors and a perfect balance of sweetness.
              </p>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <br>
{% endblock body %}