{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="./static/style/home.css">
{% endblock %}

{% block title %}
  Home
{% endblock %}

{% block body %}
{% comment %} Welcome to meridian icecream para {% endcomment %}

<section class="wrapper">
  <div class="top">Meridian</div>
  <div class="bottom" aria-hidden="true">Meridian</div>
</section>

<br>


  {% comment %}Division of carousel with three sliding images with info on image{% endcomment %}
  <div class="container">
    <div id="carouselExampleCaptions" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img style="height: 590px;" src="/static/img/ice3.jpg" class="d-block w-100" alt="..." />
          <div class="carousel-caption d-none d-md-block">
            <h5>New Flavours Added</h5>
            <p>Come and taste fast.Hurry Up........</p>
          </div>
        </div>
        <div class="carousel-item">
          <img style="height: 590px;" src="/static/img/ice2.jpg" class="d-block w-100" alt="..." />
          <div class="carousel-caption d-none d-md-block">
            <h5>New Flavours Added</h5>
            <p>Come and taste fast.Hurry Up........</p>
          </div>
        </div>
        <div class="carousel-item">
          <img style="height: 590px;" src="/static/img/ice1.jpg" class="d-block w-100" alt="..." />
          <div class="carousel-caption d-none d-md-block">
            <h5>New Flavours Added</h5>
            <p>Come and taste fast.Hurry Up........</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  
  {% comment %}Card contents added in table format{% endcomment %}
  <div class="card my-4">
    <table>
      {% comment %}row1{% endcomment %}
      <tr>
        <td>
          <div class="card" style="width: 18rem;">
            <img src="/static/img/card1.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                <strong>Butterscotch</strong>
                <br />

                Indulge in the exclusive taste of butterscotch, where each delightful bite unveils a symphony of rich flavors and a perfect balance of sweetness.
              </p>
            </div>
          </div>
        </td>
        <td>
          <div class="card" style="width: 18rem;">
            <img src="/static/img/card2.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                <strong>Butterscotch</strong>
                <br />

                Indulge in the exclusive taste of choco chips, where each delightful bite unveils a symphony of rich flavors and a perfect balance of sweetness.
              </p>
            </div>
          </div>
        </td>
        <td>
          <div class="card" style="width: 18rem;">
            <img style="height: 300px;" src="/static/img/card3.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                <strong>Butterscotch</strong>
                <br />

                Indulge in the exclusive taste of Anjeer, where each delightful bite unveils a symphony of rich flavors and a perfect balance of sweetness.
              </p>
            </div>
          </div>
        </td>
      </tr>
      {% comment %}row2{% endcomment %}
      <tr>
        <td>
          <div class="card" style="width: 18rem;">
            <img src="/static/img/card1.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                <strong>Butterscotch</strong>
                <br />

                Indulge in the exclusive taste of butterscotch, where each delightful bite unveils a symphony of rich flavors and a perfect balance of sweetness.
              </p>
            </div>
          </div>
        </td>
        <td>
          <div class="card" style="width: 18rem;">
            <img src="/static/img/card2.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                <strong>Butterscotch</strong>
                <br />

                Indulge in the exclusive taste of choco chips, where each delightful bite unveils a symphony of rich flavors and a perfect balance of sweetness.
              </p>
            </div>
          </div>
        </td>
        <td>
          <div class="card" style="width: 18rem;">
            <img style="height: 300px;" src="/static/img/card3.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                <strong>Butterscotch</strong>
                <br />

                Indulge in the exclusive taste of Anjeer, where each delightful bite unveils a symphony of rich flavors and a perfect balance of sweetness.
              </p>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="card" style="width: 18rem;">
            <img src="/static/img/card1.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                <strong>Butterscotch</strong>
                <br />

                Indulge in the exclusive taste of butterscotch, where each delightful bite unveils a symphony of rich flavors and a perfect balance of sweetness.
              </p>
            </div>
          </div>
        </td>
        <td>
          <div class="card" style="width: 18rem;">
            <img src="/static/img/card2.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                <strong>Butterscotch</strong>
                <br />

                Indulge in the exclusive taste of choco chips, where each delightful bite unveils a symphony of rich flavors and a perfect balance of sweetness.
              </p>
            </div>
          </div>
        </td>
        <td>
          <div class="card" style="width: 18rem;">
            <img style="height: 300px;" src="/static/img/card3.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                <strong>Butterscotch</strong>
                <br />

                Indulge in the exclusive taste of Anjeer, where each delightful bite unveils a symphony of rich flavors and a perfect balance of sweetness.
              </p>
            </div>
          </div>
        </td>
      </tr>
      {% comment %}row2{% endcomment %}
      <tr>
        <td>
          <div class="card" style="width: 18rem;">
            <img src="/static/img/card1.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                <strong>Butterscotch</strong>
                <br />

                Indulge in the exclusive taste of butterscotch, where each delightful bite unveils a symphony of rich flavors and a perfect balance of sweetness.
              </p>
            </div>
          </div>
        </td>
        <td>
          <div class="card" style="width: 18rem;">
            <img src="/static/img/card2.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                <strong>Butterscotch</strong>
                <br />

                Indulge in the exclusive taste of choco chips, where each delightful bite unveils a symphony of rich flavors and a perfect balance of sweetness.
              </p>
            </div>
          </div>
        </td>
        <td>
          <div class="card" style="width: 18rem;">
            <img style="height: 300px;" src="/static/img/card3.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                <strong>Butterscotch</strong>
                <br />

                Indulge in the exclusive taste of Anjeer, where each delightful bite unveils a symphony of rich flavors and a perfect balance of sweetness.
              </p>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <br>

<marquee behavior="" direction="left" style="font-size: 30px;">Checkout the new offer today to save money and grab a exciting deal.</marquee>
<hr>
<h3 id="head">Why Choose Us</h3>
<br>

  <p class="details">
    <strong>Step into our enchanting ice cream haven, where every scoop tells a tale of indulgence and delight. The moment you enter, a symphony of sweet aromas envelops you, awakening your senses to the promise of a blissful experience. The ambience is a perfect blend of cozy nostalgia and modern charm, with whimsical pastel hues and delightful murals adorning the walls. Soft, twinkling lights create an intimate atmosphere, inviting you to embark on a journey of frozen decadence. Our ice cream parlor is a haven for those seeking respite from the mundane, a place where time seems to slow down as you savor each velvety spoonful.
      Our commitment to quality is evident in every aspect of our ice cream. Crafted with care, our flavors are a celebration of premium ingredients sourced from the finest purveyors. Whether it's the velvety richness of Belgian chocolate, the exotic allure of Tahitian vanilla, or the playful burst of fresh berries, each flavor is a masterpiece in its own right. We take pride in the art of flavor curation, ensuring a symphony of tastes that dance on your palate. Our ice cream is not just a treat; it's a sensorial journey that transcends the ordinary.
      The joy of our ice cream extends beyond the physical space of our parlor. It's a celebration of life's sweet moments, a shared experience that creates lasting memories. Whether you're here for a solo escape, a family gathering, or a romantic rendezvous, our ice cream is the perfect companion. It's not just dessert; it's a moment of pure, unadulterated happiness. So, come join us in this symphony of sweetness, where every scoop is a note in the melody of indulgence, and every visit is a celebration of the finer things in life.
    </strong>
  </p>


{% comment %} Footer section of website {% endcomment %}
<div class="d-flex flex-column h-100">

  {% comment %} <!-- FOR DEMO PURPOSE -->
  <section class="hero text-white py-5 flex-grow-1">
      <div class="container py-4">
          <div class="row">
              <div class="col-lg-6">
                  <h1 class="display-4">Bootstrap footer bottom</h1>
                  <p class="fst-italic text-muted">Using Bootstrap 5 flexbox utilities, create a footer that always sticks to the bottom of your viewport. Snippet by <a class="text-primary" href="https://bootstrapious.com/" target="_blank">Bootstrapious</a></p>
              </div>
          </div>
      </div>
  </section> {% endcomment %}

<hr style="height: 2px;">
  <!-- FOOTER -->
  <footer class="w-100 py-4 flex-shrink-0">
      <div class="container py-4">
          <div class="row gy-4 gx-5">
              <div class="col-lg-4 col-md-6">
                  <h5 class="h1 text-white">FB.</h5>
                  <p class="small text-muted">Meridian Icecream welcomes you to indulge in the exclusive taste of icecreams, where each delightful bite unveils a symphony of rich flavors and a perfect balance of sweetness. </p>
                  <p class="small text-muted mb-0">&copy; Copyrights. All rights reserved. <a class="text-primary" href="#">Meridian Icecream</a></p>
              </div>
              <div class="col-lg-2 col-md-6">
                  <h5 class="text-white mb-3">Quick links</h5>
                  <ul class="list-unstyled text-muted">
                      <li><a href="D:\django\project\templates\home.html">Home</a></li>
                      <li><a href="D:\django\project\templates\about.html">About</a></li>
                      <li><a href="D:\django\project\templates\buy.html">Buy icecream</a></li>
                      <li><a href="D:\django\project\templates\contact.html">Contact Us</a></li>
                  </ul>
              </div>
             
              <div class="col-lg-4 col-md-6">
                  <h5 class="text-white mb-3">Offers</h5>
                  <p class="small text-muted">Get registered to our daily offers to grab exciting offers.</p>
                  <form action="#">
                      <div class="input-group mb-3">
                          <input class="form-control" type="text" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                          <button class="btn btn-primary" id="button-addon2" type="button"><i class="fas fa-paper-plane"></i></button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </footer>
</div>
 
  
 
  
{% endblock %}
